.headerr{
    position: relative;
    top: 0;
    width: 60%;
    color: rgb(22, 21, 21);
    background: rgb(65, 61, 61);
    height: 70px;
    padding: 25px;
    left: 69px;
    display: flex;
    justify-content: space-between;
}
.home{
    width: 5%;
    position: absolute;
    font-size: 18px; 
    top: 0;   
    color: aliceblue; 
    height: 70px;
    padding: 15px;
    left: 0;
    text-align: center;
    background: gray;
    
   
}

.yenisorgu{
    width: 10%;
    position: absolute;
    top: 0;    
    height: 70px;
    padding: 15px;
    right: 25%;
    text-align: center;
    background: gray;
    
   
}
.yenisorgu a {
  
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.yenisorgu:hover{
    background-color: rgb(127, 104, 55);
   
}
.alınankitap{
    width: 15%;
    position: absolute;
    top: 0;
    
    height: 70px;
    padding: 15px;
    right: 140px;
    text-align: center;
    background: gray;
  
}
.alınankitap a{
    font-size: 18px;
    color: wheat;
  
    
}
.alınankitap:hover{
    background-color: green;
    color:white;
}

.cikis{
    width: 11%;
    position: absolute;
    top: 0;
    
    height: 70px;
    padding: 15px;
    right: 0;
    text-align: center;
    background-color: gray;

}
.cikis a{
    height: 70px;
    font-size: 18px;
    color: white;
  

    
}
.cikis:hover{
    background-color: red;
    color:white;
}
table{
    width: 100%;
    text-align: center;
}